* {box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgb(54, 90, 175);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

header{
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    text-align: center;
}

.countDown{
   background-color: antiquewhite;
   border-radius: 5px;
   box-shadow: 0 0 10px 5px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   font-size: 50px;
   margin: 0;
   height: 70px;
   width: 300px;  
}

.container{
    display: inline-block;
    width: 800px;
    max-width: 80%;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 5px;
}

.question-text{
    font-size: 25px;
    text-align: center;
}

.answer-btn-box{

}

.answer-btn{
    background-color: antiquewhite;
    font-weight: 500;
    font-size: 25px;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

.answer-btn:hover{
    background-color: rgb(54, 90, 175);
    color: antiquewhite
}

.next-btn{
    background-color: antiquewhite;
    font-weight: 500;
    font-size: 25px;
    width: 25%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

.next-btn:hover{
    background-color: rgb(54, 90, 175);
    color: antiquewhite
}
